$primary:#4ca6dd;
$success: #389542;
$danger:#c12a28;
$warning:#FF8300;
$morado:#890d7a;
$rosa:#e11383;
$dark:#283046;
// $dark:#090a11;
// $white:#EDEDEE;

// $theme-dark-body-bg:#090a11;
$content-padding-top:0rem;
$content-padding:1.5rem ;
// $menu-dark-bg-color:#4b4b4b;
// $theme-bg:#4b4b4b;

$max_width_travel:1400px;
$font-size-default:13pt;
$font-size-badge-default:10pt;
